name: ansible

on: [pull_request, workflow_dispatch]

jobs:
  prejob:
    uses: ./.github/workflows/set-output-workflow.yml
    with:
      workflow: ${{ github.workflow }}
    secrets:
      _WORKFLOW: ${{ secrets._CURRENT_TOOL }}

  alpine-gnu:
    needs: prejob
    if: ${{ needs.prejob.outputs.workflow == github.workflow }}
    uses: ./.github/workflows/build-alpine.yml
    with:
      workflow: ${{ github.workflow }}
      toolset: gnu

  test-ubuntu:
    needs: alpine-gnu
    uses: ./.github/workflows/test-ubuntu.yml
    with:
      workflow: ${{ github.workflow }}
      artifact: build-gnu

  test-alpine:
    needs: alpine-gnu
    uses: ./.github/workflows/test-alpine.yml
    with:
      workflow: ${{ github.workflow }}
      artifact: build-musl

  release:
    needs: [test-alpine, test-ubuntu]
    uses: ./.github/workflows/release.yml
    with:
      workflow: ${{ github.workflow }}
      tool_version: '7.1.0'
      prepare_body: |
        bsdtar -Oxf ./build-gnu/build-gnu.tar.gz build-gnu.md >> body.md
      artifacts: ./build-gnu/build-gnu.tar.gz
    secrets:
      token: ${{ secrets.GITHUB_TOKEN }}
