name: ansible

on: [pull_request, workflow_dispatch]

jobs:
  alpine-gnu:
    if: ${{ vars.CURRENT_TOOL == github.workflow }}
    uses: ./.github/workflows/build-alpine.yml
    with:
      workflow: ${{ github.workflow }}
      toolset: gnu
      version: 3.18.0

  ubuntu-docker:
    if: ${{ vars.CURRENT_TOOL == github.workflow }}
    uses: ./.github/workflows/build-docker.yml
    with:
      workflow: ${{ github.workflow }}

  test-ubuntu:
    needs: alpine-gnu
    uses: ./.github/workflows/test-ubuntu.yml
    with:
      workflow: ${{ github.workflow }}
      artifact: build-gnu

  test-alpine:
    needs: alpine-gnu
    uses: ./.github/workflows/test-alpine.yml
    with:
      workflow: ${{ github.workflow }}
      artifact: build-gnu

  test-ubuntu-docker:
    needs: ubuntu-docker
    uses: ./.github/workflows/test-docker.yml
    with:
      workflow: ${{ github.workflow }}
      artifact: build-docker

  release:
    needs: [test-alpine, test-ubuntu, test-ubuntu-docker]
    uses: ./.github/workflows/release.yml
    with:
      workflow: ${{ github.workflow }}
      tool_version: '8.3.0'
      prepare_body: |
        bsdtar -Oxf ./build-docker/build-docker.tar.gz build-docker.md >> body.md
        bsdtar -Oxf ./build-gnu/build-gnu.tar.gz build-gnu.md >> body.md
      artifacts: ./build-docker/build-docker.tar.gz, ./build-gnu/build-gnu.tar.gz
    secrets:
      token: ${{ secrets.GITHUB_TOKEN }}
