on:
  workflow_call:
    inputs:
      workflow:
        required: true
        type: string
      toolset:
        required: false
        type: string
        default: 'mingw'

jobs:
  build-windows:
    runs-on: windows-2019
    steps:
      - uses: actions/checkout@v2
      - uses: git-for-windows/setup-git-for-windows-sdk@v1
      - name: build ${{ inputs.workflow }}-windows-${{ inputs.toolset }}
        run: |
          choco install wget --no-progress
          bash.exe ${{ inputs.workflow }}\build_${{ inputs.toolset }}.sh

      - uses: actions/upload-artifact@v3
        with:
          name: build-${{ inputs.toolset }}
          path: ./${{ inputs.workflow }}/release/build-${{ inputs.toolset }}.tar.gz
