name: far2l

on: [pull_request, workflow_dispatch]

jobs:
  prejob:
    uses: ./.github/workflows/set-output-workflow.yml
    with:
      workflow: ${{ github.workflow }}
    secrets:
      _WORKFLOW: ${{ secrets._CURRENT_TOOL }}

  far2l-alpine-musl:
    needs: prejob
    if: ${{ needs.prejob.outputs.workflow == github.workflow }}
    uses: ./.github/workflows/build-alpine.yml
    with:
      workflow: ${{ github.workflow }}
      version: 3.12.9

  far2l-ubuntu-glibc:
    needs: prejob
    if: ${{ needs.prejob.outputs.workflow == github.workflow }}
    uses: ./.github/workflows/build-ubuntu.yml
    with:
      workflow: ${{ github.workflow }}
      version: 18.04

  far2l-alpine-musl-test:
    needs: far2l-alpine-musl
    if: ${{ needs.prejob.outputs.workflow == github.workflow }}
    uses: ./.github/workflows/test-alpine.yml
    with:
      artifact: build-musl
      test-run: |
        ldd ./${{ github.workflow }}
        ./${{ github.workflow }} --help | head -n2

  far2l-alpine-glibc-test:
    needs: far2l-ubuntu-glibc
    if: ${{ needs.prejob.outputs.workflow == github.workflow }}
    uses: ./.github/workflows/test-alpine.yml
    with:
      artifact: build-glibc
      test-run: |
        wget -q -O /etc/apk/keys/sgerrand.rsa.pub https://alpine-pkgs.sgerrand.com/sgerrand.rsa.pub
        wget https://github.com/sgerrand/alpine-pkg-glibc/releases/download/2.34-r0/glibc-2.34-r0.apk
        apk add --no-cache glibc-2.34-r0.apk

        ldd ./${{ github.workflow }} || true
        ./${{ github.workflow }} --help | head -n2

  far2l-ubuntu-musl-test:
    needs: far2l-alpine-musl
    if: ${{ needs.prejob.outputs.workflow == github.workflow }}
    uses: ./.github/workflows/test-alpine.yml
    with:
      artifact: build-musl
      test-run: |
        apt update
        apt -y install musl
        ln -s /usr/lib/x86_64-linux-musl/libc.so /lib/libc.musl-x86_64.so.1

        ldd ./${{ github.workflow }}
        ./${{ github.workflow }} --help | head -n2

  far2l-ubuntu-glibc-test:
    needs: far2l-ubuntu-glibc
    if: ${{ needs.prejob.outputs.workflow == github.workflow }}
    uses: ./.github/workflows/test-alpine.yml
    with:
      artifact: build-glibc
      test-run: |
        ldd ./${{ github.workflow }}
        ./${{ github.workflow }} --help | head -n2


