name: far2l

on: [pull_request, workflow_dispatch]

jobs:
  alpine-musl:
    if: ${{ vars.CURRENT_TOOL == github.workflow }}
    uses: ./.github/workflows/build-alpine.yml
    with:
      workflow: ${{ github.workflow }}
      version: 3.16

  ubuntu-glibc:
    if: ${{ vars.CURRENT_TOOL == github.workflow }}
    uses: ./.github/workflows/build-ubuntu-unsecure.yml
    with:
      workflow: ${{ github.workflow }}
      version: 18.04
      toolset: glibc

  ubuntu-glibc-p:
    if: ${{ vars.CURRENT_TOOL == github.workflow }}
    uses: ./.github/workflows/build-ubuntu-unsecure.yml
    with:
      workflow: ${{ github.workflow }}
      version: 18.04
      toolset: glibc-p

  test-ubuntu:
    needs: ubuntu-glibc
    uses: ./.github/workflows/test-ubuntu-unsecure.yml
    with:
      workflow: ${{ github.workflow }}
      artifact: build-glibc

  test-ubuntu-p:
    needs: ubuntu-glibc-p
    uses: ./.github/workflows/test-ubuntu-unsecure.yml
    with:
      workflow: ${{ github.workflow }}
      artifact: build-glibc-p

  test-alpine:
    needs: alpine-musl
    uses: ./.github/workflows/test-alpine.yml
    with:
      workflow: ${{ github.workflow }}
      artifact: build-musl

  far2l-release:
    needs: [test-alpine,
            test-ubuntu,
            test-ubuntu-p]
    uses: ./.github/workflows/release.yml
    with:
      workflow: ${{ github.workflow }}
      tool_version: '2.6.3'
      prepare_body: |
        bsdtar -Oxf ./build-musl/build-musl.tar.gz build-musl.md >> body.md
        bsdtar -Oxf ./build-glibc/build-glibc.tar.gz build-glibc.md >> body.md
        bsdtar -Oxf ./build-glibc-p/build-glibc-p.tar.gz build-glibc-p.md >> body.md
      artifacts: ./build-musl/build-musl.tar.gz,./build-glibc/build-glibc.tar.gz,./build-glibc-p/build-glibc-p.tar.gz
    secrets:
      token: ${{ secrets.GITHUB_TOKEN }}
