name: ripunzip
# version_tests: skip_readme

on: [pull_request, workflow_dispatch]

jobs:
  alpine-musl:
    if: ${{ vars.CURRENT_TOOL == github.workflow }}
    uses: ./.github/workflows/build-alpine.yml
    with:
      workflow: ${{ github.workflow }}

  alpine-mingw:
    if: ${{ vars.CURRENT_TOOL == github.workflow }}
    uses: ./.github/workflows/build-alpine.yml
    with:
      workflow: ${{ github.workflow }}
      toolset: mingw

  test-ubuntu:
    needs: alpine-musl
    uses: ./.github/workflows/test-ubuntu.yml
    with:
      workflow: ${{ github.workflow }}
      artifact: build-musl

  test-windows:
    needs: alpine-mingw
    uses: ./.github/workflows/test-windows.yml
    with:
      workflow: ${{ github.workflow }}
      artifact: build-mingw

  release:
    needs: [test-ubuntu,
            test-windows]
    uses: ./.github/workflows/release.yml
    with:
      workflow: ${{ github.workflow }}
      tool_version: '2.0.1'
      prepare_body: |
        bsdtar -Oxf ./build-musl/build-musl.tar.gz build-musl.md >> body.md
        bsdtar -Oxf ./build-mingw/build-mingw.tar.gz build-mingw.md >> body.md
      artifacts: ./build-musl/build-musl.tar.gz,./build-mingw/build-mingw.tar.gz
    secrets:
      token: ${{ secrets.GITHUB_TOKEN }}
