on:
  workflow_call:
    inputs:
      workflow:
        required: true
        type: string
      artifact:
        required: true
        type: string

jobs:
  test-windows:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/download-artifact@v3
        with:
          name: ${{ inputs.artifact }}
          path: .

      - name: Test ${{ inputs.artifact }} build on windows-latest
        run: |
          tar -xf ./${{ inputs.artifact }}.tar.gz -C ./bin
          cd ./${{ inputs.workflow }}
          ../.tools/busybox.exe bash ./test_windows.sh

