on:
  workflow_call:
    inputs:
      workflow:
        required: true
        type: string
      artifact:
        required: true
        type: string

env:
  IMAGE_NAME: mcr.microsoft.com/windows/nanoserver:ltsc2022-amd64

jobs:
  test-windows:
    runs-on: windows-2022
    steps:
      - uses: actions/checkout@v2
      - name: pull windows container ${{ env.IMAGE_NAME }}
        shell: cmd
        run: |
          docker pull ${{ env.IMAGE_NAME }}
          docker images ${{ env.IMAGE_NAME }}
      - uses: actions/download-artifact@v3
        with:
          name: ${{ inputs.artifact }}
          path: .

      - name: Test ${{ inputs.artifact }} build on nanoserver-ltsc2022
        run: |
          tar -xf ./${{ inputs.artifact }}.tar.gz -C ./bin
          docker container run --rm -v ${{ github.workspace }}:C:\app -w C:\app\${{ inputs.workflow }} ${{ env.IMAGE_NAME }} C:/app/.tools/busybox64.exe bash ./test_windows.sh

